.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px
}

.fs-18 {
  font-size: 18px
}

.fs-36 {
  font-size: 36px;
}

.fs-40 {
  font-size: 40px
}

.fs-60 {
  font-size: 60px;
}

.fs-72 {
  font-size: 72px;
}

.h-59 {
  height: 59px;
}

.h-90 {
  height: 90px;
}

.h-177 {
  height: 177px;
}

.h-135 {
  height: 135px;
}

.mt-33 {
  margin-top: 33px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-47 {
  margin-top: 47px;
}

.me-90 {
  margin-right: 90px;
}

.gap-1em {
  column-gap: 1.5em;
}

.fs-6vw {
  font-size: calc(4vw + 20px);
}

.fs-4vw {
  font-size: max(4vw, 30px);
}